body {
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.cli {
  border: 1px solid white;
  padding: 10px;
  margin: 50px auto;
  width: 80%;
  height: 400px;
  overflow-y: scroll;
}

.cli-output {
  height: 90%;
}

.cli-input {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}
